<div class="product-usp product-usp-round">
    <ul>
        <li style="background: #FCA269;"><span><img src="https://cdn.shopify.com/s/files/1/0675/4130/3451/files/natural-food-icon.png?v=1734594345" alt=""/> </span> <span style="color:#fff; font-size:14px">100% natürlich</span></li>
        <li style="background: #FCA269;"><span><img src="https://cdn.shopify.com/s/files/1/0675/4130/3451/files/test-tube-icon.png?v=1734594346" alt=""/></span> <span style="color:#fff; font-size:14px">Laborgeprüft</span></li>
        <li style="background: #FCA269;"><span><img src="https://cdn.shopify.com/s/files/1/0675/4130/3451/files/vegetarian-mark-icon.png?v=1734594345" alt=""/></span> <span style="color:#fff; font-size:14px">Vegan</span></li>
    </ul>
</div>